<div class="social">
	<koken:link share="facebook">
	  <koken:asset file="/inc/components/img/facebook.png" alt="Share this on Facebook" class="icon"/>
	</koken:link> 

	<koken:link share="twitter">
		<koken:asset file="/inc/components/img/twitter.png" alt="Tweet this!" class="icon"/>
	</koken:link> 

	<koken:link share="tumblr">
		<koken:asset file="/inc/components/img/tumblr.png" alt="Share on Tumblr!" class="icon"/>
	</koken:link> 

	<koken:link share="google-plus">
		<koken:asset file="/inc/components/img/gplus.png" alt="Share on Google Plus!" class="icon"/>
	</koken:link>
</div>